<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    <section id="gridSystem">
          <div class="page-header">
            <h1 class="logo">
              <a href="/">node.js <span class="ko">ko</span></a>
            </h1>
          </div>

          <h3 class="bulla"><span>公告</span></h3>
          <h3 class="bulla"><span>即時此刻，號招天下，黎明即起，塵土發揚;</sapn></h3>
          <p>公告，苦思本土人才乾枯無援，外資來襲侵犯我台，為鞏固既有人才，廣發英雄帖，號昭天下英雄（雌）豪傑共聚一堂。特此號昭天下大小咖，盼眾人齊聚一堂，眾賢所能，集天下之大成。</p>
          <div class="bs-docs-grid">
            <div class="row show-grid">
              <div class="span9" data-original-title="">9</div>
            </div>
          </div>

    </section>
    </div>
  </body>
</html>
