<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/peculiar.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script type="text/javascript">window.jfAsyncInit=function(){ctb.main({'appId':'adfc0d2cC1SuRHnM2HFMu-aG94RSHQFQEt6E8qzYjDhyCcq-xWIY2OSRaNGkEgLNAJRaAnUtuaiNvZMfhF1BZe2G5iiWOMfxUqfbssuVLvoP5NDQl5VSqRrqgK8ALjGSdQ75HKKTCTfX_2_tvCcPMM-rEKJS8L-DOCGXr-TA4xjD-rO0-9A='});};(function(){var jf=document.createElement('script');jf.type='text/javascript';jf.async=true;jf.src='http://ds.justfont.com/core/js/v1.0/adfc0d2cC1SuRHnM2HFMu-aG94RSHQFQEt6E8qzYjDhyCcq-xWIY2OSRaNGkEgLNAJRaAnUtuaiNvZMfhF1BZe2G5iiWOMfxUqfbssuVLvoP5NDQl5VSqRrqgK8ALjGSdQ75HKKTCTfX_2_tvCcPMM-rEKJS8L-DOCGXr-TA4xjD-rO0-9A=.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(jf,s);})();</script>
  </head>
  <body>
    <div class="container">
    <div class="header">
      <div class="fb-like" data-href="http://nodeknockout.nodejs.tw/" data-send="true" data-width="450" data-show-faces="true"></div>
    </div>
    <section id="gridSystem" class="ct2">
      <div class="page-header">
        <h1 class="logo">
          <a href="/">node.js <span class="ko">ko</span></a>
        </h1>
      </div>
      <h3 class="bulla ct1"><span>號召黑客，展現自我，共同組隊，奮戰兩日!</sapn></h3>
      <div class="article">
        <p><strong>公告</strong>，苦思本土人才乾枯無援，外資來襲侵犯我台，為鞏固既有人才，廣發英雄帖，號昭天下英雄（雌）豪傑共聚一堂。特此號昭天下大小咖，盼眾人齊聚一堂，眾賢所能，集天下之大成。</p>
        <div class="bs-docs-grid">
          <div class="row show-grid">
            <div class="dates"><a href="#" title="2012-11-10T00:00:00Z"><time datetime="2012-11-10T00:00:00Z" class="start">貳零壹貳年 拾壹月 拾日 晨 八時整</time></a> 至 <a href="#" title="2012-11-12T00:00:00Z"><time datetime="2012-11-12T00:00:00Z" class="end">拾壹月 拾貳日 晨 八時整</time></a></div>
            <div class="step">
              <ul class="style">
                <li>
                  <div class="hd">
                    <div class="icon icon-yang">
                      <div class="icon-yang-rectangle-1"></div>
                      <div class="icon-yang-rectangle-2"></div>
                      <div class="icon-yang-circle-1"></div>
                      <div class="icon-yang-circle-2"></div>
                      <div class="icon-yang-dot-1"></div>
                      <div class="icon-yang-dot-2"></div>
                    </div>
                    <div class="name kunfu">步驟壹</div>
                  </div><!-- .style .hd end -->
                  <div class="bd">
                    <a href="http://nodeknockout.com/" target="_blank" class="external-link btn btn-large">Node.js Knockout</a>
                    <div class="tip">
                        眾英雄(雌) 於洋人的網站完成註冊，截止日期於 <strong>貳零壹貳年 拾壹月 貳日</strong> ，實況以國際時間為主。
                    </div>
                  </div>
                </li>
                <li>
                  <div class="hd">
                    <div class="icon icon-yang">
                      <div class="icon-yang-rectangle-1"></div>
                      <div class="icon-yang-rectangle-2"></div>
                      <div class="icon-yang-circle-1"></div>
                      <div class="icon-yang-circle-2"></div>
                      <div class="icon-yang-dot-1"></div>
                      <div class="icon-yang-dot-2"></div>
                    </div>
                    <div class="name kunfu">步驟貳</div>
                  </div><!-- .style .hd end -->
                  <div class="bd">
                    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHE0QzhmOE5LdUYzcE5YT09rVDRBV1E6MQ" target="_blank" class="external-link btn btn-large">Node.js Knockout Taiwan</a>
                    <div class="tip">
                       對內需登記名冊，待會眾審核通過之時，將主動以飛鴿聯絡。
                    </div>
                  </div>
                </li>
                <li class="release">
                  <div class="hd">
                    <div class="icon icon-profile person-1">
                      <div class="icon-profile-circle"></div>
                      <div class="icon-profile-rectangle"></div>
                    </div>
                    <div class="icon icon-profile person-2">
                      <div class="icon-profile-circle"></div>
                      <div class="icon-profile-rectangle"></div>
                    </div>
                    <div class="icon icon-profile person-3">
                      <div class="icon-profile-circle"></div>
                      <div class="icon-profile-rectangle"></div>
                    </div>
                    <div class="name announce" id="onfire">通知起義</div>
                  </div><!-- .style .hd end -->
                  <div class="bd">
                  </div>
                </li>
              </ul><!-- ul end -->
            </div><!-- .step end -->
          </div><!-- .show-grid end -->
        </div><!-- .doc-grid end -->
        <div class="land ct1">
          <span class="short-sentence ct1">榮耀時刻，光宗耀祖</span>
          <div class="print">
            <a href="mailto:contact@nodejs.tw" title="聯絡主辦單位">
              <span class="word-1">聯絡</span>
              <span class="word-2">本部</span>
            </a>
          </div><!-- .print end -->
        </div><!-- .land end -->
      </div><!--.article end -->
      <div class="footer">
        <ul>
          <li class="host">
            <span class="header">主辦單位：</span>
            <ul>
              <li><a href="http://nodejs.tw" target="_blank">nodejs.tw</a></li>
              <li><a href="http://jsdc.tw" target="_blank" title="JSDC Taiwan"><img src="http://jsdc.tw/2013/img/website_logo.png"></a></li>
            </ul>
          </li>
          <li class="sponsor">
            <span class="header">協辦贊助：</span>
            <div class="bd">
              <ul>
                <li><a href="http://micloud.tw" title="MiCloud tw"><img src="/images/micloud-logo-big.png"></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div><!--.footer end -->

    </section>
    </div>
<script type="text/javascript">
var step = 0;
function nextShadow(){
        shadow1 = Math.cos(step/3)*2+"px -"+(step%5)+"px "+(step%5)+"px white";
        shadow2 = Math.cos(step/3)*5+"px -"+(step%17)+"px "+(step%17)+"px red";
        shadow3 = Math.cos(step/3)*5+"px -"+(step%31)+"px "+(step%31)+"px yellow";
        $('#onfire').css("text-shadow", shadow1+", "+shadow2+", "+shadow3);
        step++;
}
$(function(){
   setInterval(nextShadow, 100);
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=470728142953792";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
<!--
#Node knockout Taiwan github
 * [github project](https://github.com/clonn/nodeko-tw)
 * 關於 node.js 的參考資料，直接可以找 [book.nodejs.tw](http://book.nodejs.tw)

##技術資料
 * http://twitter.github.com/bootstrap/index.html
 * http://jquery.com
 * http://lucianmarin.com/peculiar/
 * http://www.justfont.com/
 * http://nodeknockout.com/

 PS. 正在尋找贊助商，還有場地，請各位協助 m(_ _)m
-->
</script>
  </body>
</html>
