@font-face
  font-family: '04b_03';
  src:url(/fonts/04b_03__-webfont.eot?iefix) format(eot),url(/fonts/04b_03__-webfont.woff) format(woff),url(/fonts/04b_03__-webfont.ttf) format(truetype),url(/fonts/04b_03__-webfont.svg#webfontiFL0wwqh) format(svg);
  font-weight:400;
  font-style:normal;
  font-size:18px;
body
  margin: 10px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.header
  ul
    list-style: none;
    text-align: right;
    li
      display: inline;
h1.logo
  text-align: center;
  a
    color: black!important;
    font-family: '04b_03',monospace;
    font-weight: bold;
    font-size: 64px;
    &:hover, &:active
      text-decoration: none;
      outline: 0;
    .ko
      padding: 9px 13px 5px 23px;
      color: white;
      background: #333;
      background-color: rgba(0, 0, 0, 0.8);
      border: solid 1px rgba(0, 0, 0, 0.2);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
h3.bulla
  padding: 5px 10px;
  background: #dacf75;
  span
    text-align: center;
    border: 1px solid #777;
    display: block;
    background: #cca347;
h3.emphasize
  padding: 10px 20px;
  text-align: center;
  color: #f00;
  font-size: 74px;
.article
  padding: 0 10px;
  p
    line-height: 2em;
    padding-top: 10px;
    border-top: dotted 4px #CCC;
  .dates
    font-size: 21px;
    text-align: center;
  ul.style
    li
      display: block;
      position: relative;
      .announce,
      .kunfu
        font-size: 21px;
        color: #f00;
        display: inline;
        position: relative;
        top: 16px;
      .announce
        top: 28px;
        left: -105px;
      .fight
        color: red;
      .icon-profile
        position: relative;
      .person-2
        top: 20px;
        left: -80px;
      .person-3
        top: 20px;
        right: 90px;
      .external-link
        font-family: '04b_03',monospace;
        font-weight: bold;
      .bd
        margin-left: 50px;
        .tip
          margin: 10px 0;
          color: #777;
          font-size: 13px;
.footer
    text-align: right;
    padding-top: 10px;
    border-top: dotted 4px #CCC;
  ul
    position: relative;
  ul > li
    text-align: left;
    display: inline-block;
    .header
      position: absolute;
      top: 0;
    &.host
      img
        width: 60px;
        height: 60px;
    &.sponsor
      img
        width: 130px;
        height: 30px;
.land
  text-align: right;
  position: relative;
  padding-bottom: 20px;
  .short-sentence
    font-size: 36px;
    right: 80px;
    position: relative;
  .print
    border-radius: 5px;
    display: inline-block;
    border: 2px solid #f00;
    span
     display: block;
    a
      color: #f00;
.dates
  a
    color: #cca347;
    &:hover
      color: #816c3c;
.release li
  color: #777;
  font-size: 14px;
  line-height: 2em;
