@font-face{font-family:'04b_03';src:url("/fonts/04b_03__-webfont.eot?iefix") format(eot),url("/fonts/04b_03__-webfont.woff") format(woff),url("/fonts/04b_03__-webfont.ttf") format(truetype),url("/fonts/04b_03__-webfont.svg#webfontiFL0wwqh") format(svg);font-weight:400;font-style:normal;font-size:18px}
body{margin:10px;font:16px "Lucida Grande",Helvetica,Arial,sans-serif}
a{color:#00b7ff}
.container{border:1px solid #ccc;overflow:hidden;height:800px;padding:50px 20px}
.header ul{list-style:none;text-align:right;}
.header ul li{display:inline}
.quiz{text-align:center;width:400px;margin:0 auto;zoom:1;}
.quiz:before,.quiz:after{content:"";display:table}
.quiz:after{clear:both}
.quiz .lead,.quiz form{float:left}
form input.search-query{width:80px}
form input[type=submit]{color:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #000));background:-webkit-linear-gradient(top, #fff 0%, #000 100%);background:-moz-linear-gradient(top, #fff 0%, #000 100%);background:-o-linear-gradient(top, #fff 0%, #000 100%);background:-ms-linear-gradient(top, #fff 0%, #000 100%);background:linear-gradient(top, #fff 0%, #000 100%)}
.record{border:1px solid #f00;width:500px;margin:0 auto;}
.record p{border:1px solid #ccc;padding:10px;margin:5px}
