body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1.logo {
  text-align: center;
}
h1.logo a {
  color: #000 !important;
  font-family: '04b_03', monospace;
  font-weight: bold;
  font-size: 64px;
  word-spacing: -0.5ex;
}
h1.logo a:hover,
h1.logo a:active {
  text-decoration: none;
  outline: 0;
}
h1.logo a .ko {
  padding: 9px 13px 5px 23px;
  color: #fff;
  background: #333;
  background-color: rgba(0,0,0,0.8);
  border: solid 1px rgba(0,0,0,0.2);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
h3.bulla {
  padding: 5px 10px;
  background: #eee6db;
}
h3.bulla span {
  text-align: center;
  border: 1px solid #777;
  display: block;
  background: #cca347;
}
