@import 'nib'

@font-face {
  font-family: '04b_03';
  src:url(/fonts/04b_03__-webfont.eot?iefix) format(eot),url(/fonts/04b_03__-webfont.woff) format(woff),url(/fonts/04b_03__-webfont.ttf) format(truetype),url(/fonts/04b_03__-webfont.svg#webfontiFL0wwqh) format(svg);
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
body {
  margin: 10px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
}
a {
  color: #00B7FF
}
.container {
  border: 1px solid #ccc;
  overflow: hidden;
  height: 800px;
  padding: 50px 20px;
}
.header {
  ul {
    list-style: none;
    text-align: right;
    li {
      display: inline;
    }
  }
}
.quiz {
 text-align: center;
 width: 400px;
 margin: 0 auto;
 clearfix();
 .lead,
 form {
   float: left;
 }
}
form {
  input.search-query {
    width: 80px;
  }
  input[type=submit] {
    color: #fff;
    background: linear-gradient(top, white, black);
  }
}
